In [1]:
a = 10
b = 20

print(a+b)

30

In [ ]:
a = 2
b = 67

print (a+b)

In [ ]:
num = 25
print(num)
print(type(num))

In [ ]:
num_2 = 20.5
print(type(num_2))

In [ ]:
num_1 = 2.5e12
print(num_1)
print(type(num_1))

In [2]:
x = 7
a = float(x)

print (x , type(x))
print (a , type(a))

7 <class 'int'>
7.0 <class 'float'>

In [15]:
y = 20.8
b = int(y)

print ( y ,type(y))
print ( b , type(b))

20.8 <class 'float'>
20 <class 'int'>

In [16]:
my_list = [10 , "kavindu" , 5.7 , True , 40]

print(my_list)
print(type(my_list))
print(my_list[2])
print(my_list[-1])
print(my_list[1:4])
print(my_list[:4])
print(my_list[2:])

my_list[1] = "gamage"

print(my_list)

[10, 'kavindu', 5.7, True, 40]
<class 'list'>
5.7
40
['kavindu', 5.7, True]
[10, 'kavindu', 5.7, True]
[5.7, True, 40]
[10, 'gamage', 5.7, True, 40]

In [ ]:
my_list_2 = [50 , "tharaka" , 1.2 , False , 50]

print(my_list_2)

In [4]:
my_list_3 = [10 , 5 , "tharaka" , 1.2 , False , 50]

my_list_3[2:5] = ["gamage" , 4.2 , True]
print(my_list_3)

my_list_3.append("dog")
print(my_list_3)

my_list_3.insert(2 , "nimal")
print(my_list_3)

my_list_3.remove ("nimal")
print(my_list_3)

[10, 5, 'gamage', 4.2, True, 50]
[10, 5, 'gamage', 4.2, True, 50, 'dog']
[10, 5, 'nimal', 'gamage', 4.2, True, 50, 'dog']
[10, 5, 'gamage', 4.2, True, 50, 'dog']

In [6]:
my_list_4 = [1,2,3,4,5]
my_list_5 = [10,11,12,13]

my_list_4.extend (my_list_5)
print(my_list_4)

my_list_4.remove (1)
print(my_list_4)

my_list_4.pop (1)
print(my_list_4)

print(len(my_list_4))

del my_list_4[3]
print(my_list_4)

[1, 2, 3, 4, 5, 10, 11, 12, 13]
[2, 3, 4, 5, 10, 11, 12, 13]
[2, 4, 5, 10, 11, 12, 13]
7
[2, 4, 5, 11, 12, 13]

In [7]:
students = ["Amal" , "Binu" , "Chamara"]

students.append("Dilum")
print(students)

students.insert(2,"Ishan")
print(students)

students.remove("Amal")
print(students)

students.insert(0, "farha")
print(students)

['Amal', 'Binu', 'Chamara', 'Dilum']
['Amal', 'Binu', 'Ishan', 'Chamara', 'Dilum']
['Binu', 'Ishan', 'Chamara', 'Dilum']
['farha', 'Binu', 'Ishan', 'Chamara', 'Dilum']

In [8]:
my_list_6 = [1,2,3,4,5,6,7,8]

my_list_6.clear()
print(my_list_6)

[]

In [9]:
my_list_7 = ["banana" , "apple" , "mango" , "cat" , "bird"]
my_list_7.sort()
print(my_list_7)

my_list_7 = ["banana" , "apple" , "mango" , "cat" , "bird" , "Dog"]
my_list_7.sort()
print(my_list_7)

['apple', 'banana', 'bird', 'cat', 'mango']
['Dog', 'apple', 'banana', 'bird', 'cat', 'mango']

In [12]:
num_list = [10,8,5,31,15,7,80,58]
num_list.sort(reverse=True)
print(num_list)

[80, 58, 31, 15, 10, 8, 7, 5]

In [13]:
my_list_8 = [0,5,7,11,6,9]

my_list_9 = my_list_8.copy()

print(my_list_8)
print(my_list_9)

my_list_8 [1] = 15 

print(my_list_8)
print(my_list_9)

my_list_8.reverse()
print(my_list_8)

new_list = my_list_8 + my_list_9
print(new_list)

[0, 5, 7, 11, 6, 9]
[0, 5, 7, 11, 6, 9]
[0, 15, 7, 11, 6, 9]
[0, 5, 7, 11, 6, 9]
[9, 6, 11, 7, 15, 0]
[9, 6, 11, 7, 15, 0, 0, 5, 7, 11, 6, 9]

In [14]:
sports = ("tennis" , "cricket" , "football")

print(sports)
print(type(sports))
print(len(sports))
print(sports[1])

('tennis', 'cricket', 'football')
<class 'tuple'>
3
cricket

In [17]:
days = ("monday" ,)

print(days)
print(type(days))

('monday',)
<class 'tuple'>

In [18]:
fruits = ("apple" , "banana" , "orange")

x = list(fruits)

print(type(x))

x[1] = "grates"

print(x)

fruits = tuple(x)
print(fruits , type(fruits))

<class 'list'>
['apple', 'grates', 'orange']
('apple', 'grates', 'orange') <class 'tuple'>

In [19]:
nested_tuple = (1 , 2 , 3) , ("a" , "b" , "c") , (True , False)

print(nested_tuple[1][1])
print(nested_tuple[2][0])

b
True

In [20]:
sports = {"tennis" , "cricket" , "football"}

print(sports)
print(type(sports))

sports.add("vollyball")

print(sports)

{'football', 'tennis', 'cricket'}
<class 'set'>
{'football', 'vollyball', 'tennis', 'cricket'}

In [21]:
set_1 = {"tennis" , "cricket" , "football"}
set_2 = {"apple" , "banana"}

set_1.update(set_2)

print(set_1)

{'banana', 'tennis', 'apple', 'football', 'cricket'}

In [22]:
set_1 = {"tennis" , "cricket" , "football"}

list_1 = ["a" , "b" , "c"]

set_1.update(list_1)

print(set_1)

{'c', 'a', 'tennis', 'b', 'football', 'cricket'}

In [23]:
list_1 = [50,60,30,40,50,25,60,30,40]

set_1 = set(list_1)

print(set_1)

list_1 = list(set_1)

list_1.sort()

print(list_1)

{40, 50, 25, 60, 30}
[25, 30, 40, 50, 60]

In [28]:
x = range(1,7,1)

y = range(1,12,2)

z = range(3,24,4)

print(x)
print(y)
print(type(x))

print(x[2])

range(1, 7)
range(1, 12, 2)
<class 'range'>
3

In [29]:
this_dict = {
    "name" : "sugar",
    "weight" : "1Kg",
    "price" : 130.35
}

print(this_dict)
print(type(this_dict))

print(this_dict["weight"])

print(this_dict.get("weight"))

print(len(this_dict))

this_dict["price"] = 140.00
print(this_dict)

this_dict["color"] = "brown"
print(this_dict)

this_dict.update({"exp" : "jan 2026" , "price" : "200.50"})
print(this_dict)

this_dict.pop("price")
print(this_dict)

this_dict.popitem()
print(this_dict)

del this_dict["color"]
print(this_dict)

this_dict.clear()
print(this_dict)

{'name': 'sugar', 'weight': '1Kg', 'price': 130.35}
<class 'dict'>
1Kg
1Kg
3
{'name': 'sugar', 'weight': '1Kg', 'price': 140.0}
{'name': 'sugar', 'weight': '1Kg', 'price': 140.0, 'color': 'brown'}
{'name': 'sugar', 'weight': '1Kg', 'price': '200.50', 'color': 'brown', 'exp': 'jan 2026'}
{'name': 'sugar', 'weight': '1Kg', 'color': 'brown', 'exp': 'jan 2026'}
{'name': 'sugar', 'weight': '1Kg', 'color': 'brown'}
{'name': 'sugar', 'weight': '1Kg'}
{}

In [30]:
this_dict = {
    "name" : "sugar",
    "weight" : "1Kg",
    "price" : 130.35
}

print(this_dict)

copy = this_dict.copy()
print(copy)

this_dict.update({"exp" : "jan 2026" , "price" : "200.50"})
print(this_dict)
print(copy)

{'name': 'sugar', 'weight': '1Kg', 'price': 130.35}
{'name': 'sugar', 'weight': '1Kg', 'price': 130.35}
{'name': 'sugar', 'weight': '1Kg', 'price': '200.50', 'exp': 'jan 2026'}
{'name': 'sugar', 'weight': '1Kg', 'price': 130.35}

In [ ]:
#assignment operators

x = 5 # assignment
x += 3 # add and assign
x -= 3 #subtract assign
x *= 3 # multiply amd assign
x /= 3 # devison amd assign

In [ ]:
#comparison operatorss
x,y = 5,8

print(x == y)
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)
print(x != y)

In [ ]:
#logical operators

# And , Or , Not

In [31]:
x , y = 5, 6

print(x is y)

x = 5
y = x

print(x is y)

x = 5
y = 5

print(x is y)

False
True
True

In [32]:
x , y = 5, 10

x = x & y

print(x)

0

In [33]:
n = 15

if n % 2 == 0:
    print("n is even")
else:
    print("n is odd")

n is odd

In [ ]:
list = [1,2,3,4,5,6,7]

# x = len(list)

# if x == 0:
#     print("empty list")
# else:
#     print("non empty list")

if list:
    print("non empty list")
else:
    print("empty list")

In [34]:
r = 7
P = 3.14

if r <= 0 :
    print("r is not valid")
else:
    circumference = 2 * P * r
    print(circumference)

43.96

In [ ]:
a = 3
b = 4

if a <= 0 or b <=0 :
    print(" give positive value ")
else:
    c = (a ** 2 + b ** 2) ** 0.5
    print(c)

In [ ]:
num_1 = 1
num_2 = 3
num_3 = 4

if num_1 > num_2 and num_1 > num_3 :
    print ("largest :",num_1)
elif num_2 > num_1 and num_2 > num_3 :
    print ("largest :",num_2)

else :
    print("largest :",num_3)

In [ ]:
#slide change the to about program to display number in dicending order

num_1 = 1
num_2 = 8
num_3 = 4

if num_1 > num_2 and num_1 > num_3 :
    if num_2 > num_3 :
        print("num_1,num_2,num_3")
    else:
        print("num_1,num_3,num_2")
elif num_2 > num_1 and num_2 > num_3 :
    if num_1 > num_3 :
        print("num_2,num_1,num_3")
    else:
        print("num_2,num_3,num_1")

else :
    if num_1 > num_2 :
        print("num_3,num_1,num_2")
    else:
        print("num_3,num_2,num_1")

In [ ]:
a = 11

r = "even" if a % 2 == 0 else "odd"

print(r)

In [35]:
#given any intiger n ,print the abslute value using a ternary operator (without using abs() function)

n = -28

r = n if n >= 0 else -n

print(r)

28

In [36]:
v = 12

match v:
    case 10:
        print("value is 10")
    case 11:
        print("value is 11")
    case _:
        print("default value")

default value

In [37]:
#write a python program that take integer input from the user represent the week day numbers (1-7) and print the horresponding weekdays name using match case statement

num_1 = int(input("enter the number :"))

match num_1:
    case 1:
        print("moday")
    case 2:
        print("tuesday")
    case 3:
        print("wednesday")
    case 4:
        print("thursday")
    case 5:
        print("friday")
    case 6:
        print("saturday")
    case 7:
        print("sunday")
    case _:
        print("inavalid number enter number between 1 to 7")

tuesday

In [ ]:
#write a python program that takes and input string representing a traffic light colors
#red , yellow , green or blinking
#use structurel patten matching to print the following 
# print stop if color is red or blinking
# print slow down if color is yellow
# print go if color is green
# print invalid color any other input

color = input("enter color")

match color:
    case "red" | "blinking":
        print("stop")
    case "yellow":
        print("slow down")
    case "green":
        print("go")
    case _:
        print("invalid color")

In [38]:
numbers = [4,3]

match numbers:
    case (x,y):
        print(x*y)
    case (x,y,z):
        print(x*y*z)
    case _ :
        print("invalid")

12

In [ ]:
#write a python programe that read a list of tempresure readings :
#if the list has excatly two elments,print there averrage
#if the list has excatly four elements, clculate and print the diffrent between the sum of the frist two reading and sum the last two reading
#for any other list length , print unsupported number of reading

num = [7,8,3,6]

match num:
    case (x,y):
        print((x+y)/2)
    case(x,y,z,r):
        print((x+y) - (z+r))
    case _:
        print("unsupported number")

In [ ]:
my_list = [11,8,6,9,18]

for item in my_list:

    if item%2 == 0:
        print (item)

In [ ]:
#write a python programm to display squre value of firt ten intiger

num = range(1,11)

for item in num:
    print(item**2)

# ================

# for item in range(1,11):
#     print(item**2)

In [ ]:
#get a positive intiger as a user input. then display all squre numbers witch are bellow than the input number

num = int(input ("enter the number"))

for item in range(1,num):
    if item**2 < num:
        print(item**2)
    else:
        break

In [ ]:
#write a python code to demostrate the lenear search

list = [1,2,3,4,5,6,7,8,9,10]

found = False

num = int(input("enter the number"))

for item in list:
    if item == num:
        print("number found")
        found = True
if not found:
        print("number not found")

# ======================================

# list = [1,2,3,4,5,6,7,8,9,10]
# num = int(input("enter the number"))
# for item in list:
#     if item == num:
#         print("number found")
#         break
# else:
#       print("number not found")

In [ ]:
list = [10,0,30,40,50]

num = list[0]

for item in list:
    if item > num:
       num = item
print(num)

In [ ]:
my_list = [5,10,4,6,9,7,2]

result = [item ** 2 for item in my_list]

print(result)

In [ ]:
#create the list with the squers of even numbers between 1 to 10 (include) using list combination

result = [item ** 2 for item in range(1,11) if item % 2 == 0]

print(result)

In [ ]:
#write a python program using a while loop to display all positive integers which are bellow than the user input n (you check the input validity)

num = int(input("enter the number"))

if num <= 0:
    print("Enter positive number")

count = 1

while num != count:
        print(count)
        count += 1


#in both for loop and while loop if you need "continue" key word it will exit from the current iteration

In [ ]:
# write a python programme to reverse the digits of and given integer using a while loop

# ex : input = 9725
#      output = 5279

num = int(input("input number"))
rev = 0 

while num > 0:
    digits = num % 10
    rev = rev * 10 + digits
    num = num // 10

print(rev)

In [ ]:
def max_value(list):
    list =[2,4,5,6,7,8,9,20]
    max_value =list[0]
    for num in list:
        if num > max_value :
            max_value= num
            
    return max_value
print("maximum value of in the list:",max_value(list))

In [ ]:
def count(list):
    list =[2,4,5,6,7,8,9,20]
    count=0
    for num in list:
        if num % 2 == 0:
            count += 1
    return count
print( "even num count:",count(list))

In [ ]:
#write a function name "remove_duplicate(list)" that return a list with duplicate remove (reserving the original order)

def remove_duplicate(list):

    list = [1,5,6,5,3,1,4]
    new_list = []

    for item in list:
        if item not in new_list:
            new_list.append(item)

    return new_list
        
print(remove_duplicate(list))

In [ ]:
#write a function "factorial(n)" that returns the factorial of a given number n

def factorial(n):
    result = 1
    if n == 0:
        return result
    
    for item in range(1,n+1):
        result *= item

    return result

print(factorial(5))

In [ ]:
#default argument
def add_num(a,b=2):
    return a+b
    
print(add_num(9))

In [ ]:
#write a function that calculate and  returns the value of a number race to a sertain power. the function should accept two arguments : the number and exponent. if the exponent is nt provided it should calculate squre of the number

def number(num,exponent=2):
    return num ** exponent

print(number(2))
print(number(2,3))

In [ ]:
#keyword argument

def number(a,b):
    print(a)
    print(b)

number(b=2,a=5)
number(a=3,b=9)

In [ ]:

#write a function that calculate and employes next salary. the function should accept based sallry, bonus(default to 0), and tax rate(default to 10%). the next sallry is calculated by adding the bonus to the based sallry and subtraction the tax. demostarte difrent wayes of calling this function using possitional and keyword argument

def sallry(based_sallry,bonus,tax_rate):
    return (based_sallry+bonus) - (based_sallry+bonus) * tax_rate

print(sallry(based_sallry=30000, bonus=5000, tax_rate=0.1))

In [ ]:
#arbitrary position argument

def arbitarrary_position(*args):
    print(args)
    print(type(args))

    for arg in args:
        print(arg)

arbitarrary_position(1,2,3,4)

In [ ]:
#write a function multifly all that accepts any number of numbers and returns therir products. if no numbers are provided return 1

def multifly(*args):
    count = 1
    for arg in args:
        count *= arg
    return count

print(multifly(1,2,3,4))

In [ ]:
dict = {
    "name" : "Jone",
    "age" : 28,
    "city" : "colombo"
}

for key in dict.keys():
 print(key)

for value in dict.values():
 print(value)

for key,value in dict.items():
 print("key :",key,",value :",value)

In [ ]:
def arbitrary_keyword_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

arbitrary_keyword_args(name="kavindu",age=28,city="galle")

In [ ]:
def arbitrary_keyword_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

    for key,value in kwargs.items():
        print("key :",key,",value :",value)

arbitrary_keyword_args(name="kavindu",age=28,city="galle")

In [ ]:
#you are developing a student management system 
#   1.write a function add_student() with access any number of keyword argument where keys are student id's and values are student's name
#   2.the function should store all student into a dictonary 
#   3.write another function display_student which acccept the dictonary and prints all students id's and names in a need format
#   4.demostarte your function by adding at least 5 student using key word argument and disply them

#======================
def add_student(**kwargs):
    students = {}

    for s_id , s_name in kwargs.items():
        students[s_id] = s_name
        
    return students

#=====================
def display_student(students):
    for s_id , s_name in students.items():
        print("student_id :" , s_id,", student_name :", s_name)

#=====================
students = add_student(
    S001="Kavindu Tharaka",
    S002="Kavindu Tharaka",
    S003="Kavindu Tharaka",
    S004="Kavindu Tharaka",
    S005="Kavindu Tharaka"
)

#=====================
display_student(students)

In [2]:
#python built in function (https://docs.python.org/3/library/functions.html#func-range)

#map(function,iterable)

def find_squre(x):
    return x**2

my_list = [1,2,3,4,5]

squre_value = map(find_squre,my_list)

print(squre_value)
print(list(squre_value))

<map object at 0x000002851B6D0CD0>
[1, 4, 9, 16, 25]

In [ ]:
#your are given a list of tempresures in celsius 
#celsius_value = [0,20,37,100,-10]
#write a python function that convert dis list into fahrenheit using a formula "f = c*9%5 +32" 
#use the map function to perform the conversion 
#return the list of fehrenheit value

# def convert_to_fahrenheit(celsius):
#     return celsius * 9/5 + 32

# celsius_value = [0,20,37,100,-10]

# fahrenheit_value = map(convert_to_fahrenheit,celsius_value)

# print(list(fahrenheit_value))

def fahrenheit(celsius_value):
    return map(convert_to_fahrenheit, celsius_value)

def convert_to_fahrenheit(celsius):
    return (celsius * 9 / 5) + 32

celsius_value = [0, 20, 37, 100, -10]

print(list(fahrenheit(celsius_value)))

[32.0, 68.0, 98.6, 212.0, 14.0]
[32.0, 68.0, 98.6, 212.0, 14.0]

In [5]:
#filter(function,iterable) return boolean value 

def is_even(x):
    return x%2 == 0

my_list = [1,2,3,4,5,6,7,8,9,10]

even_value = filter(is_even,my_list)

print(even_value)
print(list(even_value))

<filter object at 0x000001918DC23A90>
[2, 4, 6, 8, 10]

In [6]:
#lambda function

add = lambda x,y : x+y
print(add(4,3))

7

In [8]:
print((lambda x,y : x+y)(5,6))

11

In [2]:
#given a list of integers, used map() with a lamda() to create a new list where each number id double

my_list = [1,2,3,4,5,6]

print(list((map(lambda number:number*2 , my_list))))

[2, 4, 6, 8, 10, 12]

In [1]:
#you are given  the following list of integers 
#[12,18,17,15,22,23,16]
#write a python program that use the filter function with a lamda function to remore all odd numbers from the list

numbers = [12,18,17,15,22,23,16]

even_value = filter(lambda x :x % 2 == 0 , numbers )

print(list(even_value))

[12, 18, 22, 16]

In [9]:
#write a python program with a lmbda function to decide the largest between two numbers 

max = lambda x,y : x if x >y else y

print(max(10,2))

10

In [40]:
my_list = [4,5,6,1]

print(sum(my_list))
print(sum(my_list,10))

16
26

In [44]:
#isinstance()   difine a class of object

x = 10
print(isinstance(x,int))

x = 10.5
print(isinstance(x,(int,float)))

True
True

In [45]:
name = "kavindu"
age = 22

print(f"my name is {name} and my age is {age}")

my name is kavindu and my age is 22

In [ ]:
class Student:
    name = ""
    age = 0

    student_1 = Student()
    print(student_1.name)
    print(student_1.age)

0

In [ ]:
class Car:
    wheels = 4

    def display_info(self): #parameter ekk nthnm "self" danwa
        print(f"car has {self.wheels} wheels")

    def drive_to(self,location):
        print(f"car driving to {location} on {self.wheels} wheels")

car_1 = Car()
car_1.display_info()
car_1.drive_to("colombo")

car has 4 wheels
car driving to colombo on 4 wheels

In [ ]:
# Inheritance in python

class Animal:
    def speak(self):
        print("Animal Speaking")

class Parrot(Animal):  #Inheritance
    def display_info(self):
        print("somthing")

Parrot_1 = Parrot()
Parrot_1.speak()

Animal Speaking

In [ ]:
class Animal:
    def speak(self):
        print("Animal Speaking")

class Parrot(Animal):
    def speak(self):   #method overriding
        print("parrot speaking")

Parrot_1 = Parrot()
Parrot_1.speak()

Animal Speaking

In [ ]:
class Animal:
    def speak(self):
        print("Animal Speaking")

class Parrot(Animal):
    def speak(self,*name):   #method overloading
        print("parrot speaking",name)

Parrot_1 = Parrot()
Parrot_1.speak("age","kavindu")

# class Animal:
#     def speak(self):
#         print("Animal Speaking")

# class Parrot(Animal):
#     def speak(self, *args):  # accepts variable number of arguments
#         print("parrot speaking", args)

# Parrot_1 = Parrot()
# Parrot_1.speak("age", "kavindu")

parrot speaking ('age', 'kavindu')

In [ ]:
class Animal:
    def __init__(self,name):
        self.name = name

class Parrot(Animal):
    def speak(self):
        print("parrot speaking")

parrot_1 = Parrot("kavindu")
print(Parrot_1.name)

kavindu

In [49]:
# class Animal:
#     def __init__(self,name):
#         self.name = name

# class Parrot(Animal):
#     def speak(self,name,color):
#         super().__init__(name)

#         self.color = color
        
#     def speak(self):
#         print("parrot speaking")

# parrot_1 = Parrot("kavindu","red")
# print(parrot_1.name)
# print(parrot_1.color)

class Animal:
    def __init__(self, name):
        self.name = name

class Parrot(Animal):
    def __init__(self, name, color):  # Constructor with 2 arguments
        super().__init__(name)        # Call Animal's constructor
        self.color = color

    def speak(self):
        print("parrot speaking")

parrot_1 = Parrot("kavindu", "red")
print(parrot_1.name)   # Output: kavindu
print(parrot_1.color)  # Output: red

kavindu
red

In [ ]:
#define a base class called employee that has attributes name and salary. it should have a method called display_info that prints the name and salary of the employee. then create a subclass called manager 
#that inherits from employee and adds an extra atributes called department. override the display_info method in the manager class to include the department information as well.final write a python program to
#1. create and object of the manager class
#2. call the display_info method using that object

class Employee:
    def __init__(self,name,sallary):
        self.name = name
        self.sallary = sallary

    def display_info(self):
        print("name :",self.name)
        print("sallary :",self.sallary)

class Manager(Employee):
    def __init__(self,name,sallary,department):
        super().__init__(name,sallary)
        self.department = department

    def display_info(self):
        super().display_info()
        print("department :",self.department)

manager = Manager("kavindu" , 100000 , "IT")
manager.display_info()

In [ ]:
#polymorphism in python

In [61]:
#encapsulation

#public attributes
class Person:
    def __init__(self):
        self.name = "gamage"
        self.age = 28

class Employee(Person):
    def display(self):
        print(self.name)
        print(self.age)

employee = Employee()
print(employee.name)
print(employee.age)

#================================================================

#protected attributes
class Person:
    def __init__(self):
        self._name = "kavindu"

class Employee(Person):
    def display(self):
        print(self._name)

employee = Employee()
print(employee._name)

#================================================================

#private attributes
class Person:
    def __init__(self):
        self.__name = "tharaka"

    def get_name(self):
        return self.__name

person  = Person()  
print(person.get_name())

gamage
28
kavindu
tharaka

In [87]:
#desine a python class called bank account that models a basic bank account using a consept of encapsulation 
# 1. use private attributes for acc_num , owner_name , balance(should start at 0.0 by default)
# 2. provide a constructer that accept only acc_num and owner_name the  balance should start at 0.0 inside the constructer
# 3. include the following public method 
#         *display account - prints the owners name and current balance (but not the account number)
#         *deposite(amount) - adds money to the account only if the amount is valid 
#         *withdraw(amount) - deducts money only if there is enough balance
#         *get_balance() - returns the current balance
#
# 4. implement a privet method call validate_amount (amount) that 
#         *returns true if the amount is a possitive number
#         *is used internally by both deposite() and withdraw() to validate input

class BankAccount:
    def __init__(self, acc_num, owner_name):
        self.__acc_num = acc_num
        self.__owner_name = owner_name
        self.__balance = 0.0

    def display_account(self):
        print(f"Owner Name: {self.__owner_name}")
        print(f"Balance: {self.__balance}")

    def validate_amount(self, amount):
        if amount > 0 :
            return True
        else:
            return False
    
    def deposite(self,amount):
        if self.validate_amount(amount):
            self.__balance += amount
        else:
            print("Invalid amount")

    def withdraw(self,amount):
        if self.validate_amount(amount):
            if self.__balance >= amount:
                self.__balance -= amount
            else:
                print("Insufficient balance")
        else:
            print("Invalid amount")

account = BankAccount("12345", "Kavindu")
account.display_account()
account.deposite(1000)
account.display_account()
account.deposite(1000)
account.display_account()
account.withdraw(500)
account.display_account()

Owner Name: Kavindu
Balance: 0.0
Owner Name: Kavindu
Balance: 1000.0
Owner Name: Kavindu
Balance: 2000.0
Owner Name: Kavindu
Balance: 1500.0

In [1]:
#open a file
file_1 = open("my_file.txt")

#read a file
file_1 = open("my_file.txt", "r") 
read_content = file_1.read()
print(read_content)

#close a file
file_1.close

Hi Guys! Hope everthing is good. I'm fine too.
This is much better.
This is even better.
I love AI.

In [6]:
file_1 = open("my_file.txt")

line_1 = file_1.readline()
print(line_1)

line_2 = file_1.readline()
print(line_2)

file_1.close

Hi Guys! Hope everthing is good. I'm fine too.

This is much better.

In [10]:
file_1 = open("my_file.txt")

while True:
    line = file_1.readline()
    if not line:
        break
    print(line.strip())

file_1.close

Hi Guys! Hope everthing is good. I'm fine too.
This is much better.
This is even better.
I love AI.

In [19]:
file_1 = open("my_file.txt")

lines =  file_1.readlines()
print(lines)
print(type(lines))
print(lines[0])

for line in lines:
    print(line.strip())

file_1.close

["Hi Guys! Hope everthing is good. I'm fine too.\n", 'This is much better.\n', 'This is even better.\n', 'I love AI.']
<class 'list'>
Hi Guys! Hope everthing is good. I'm fine too.

Hi Guys! Hope everthing is good. I'm fine too.
This is much better.
This is even better.
I love AI.

In [ ]:
with open ("my_file.txt","r") as file_1:
    lines = file_1.read()
    print(lines)

Hi Guys! Hope everthing is good. I'm fine too.
This is much better.
This is even better.
I love AI.

In [26]:
with open("my_file_1.txt", "w") as file_1:
    file_1.write("Hello World.\n")
    file_1.write("Programming is fun.\n")

In [27]:
with open("my_file_1.txt", "w") as file_1:
    file_1.write("My name is kavindu.\n")

In [31]:
with open ("my_file.txt","w") as file_1:
    lines = ["this is new line\n", "this is another new line\n"]
    file_1.writelines(lines)

#append
with open ("my_file.txt","a") as file_1:
    file_1.write("this is append line")

In [34]:
import json

with open("test.json", "r") as json_file:
    data = json.load(json_file)
    print(type(data))
    print(data)

<class 'dict'>
{'name': 'John Doe', 'age': 30, 'isStudent': False, 'hobbies': ['reading', 'gardening', 'swimming']}

In [35]:
import json

data = {
    "name": "kavindu",
    "age": 22,
    "city": "galle"
}

with open("my_json.json", "w") as json_file:
    json.dump(data, json_file, indent=4)

In [38]:
import csv

with open("test.csv", "r",newline="") as csv_file:
    csv_reader = csv.reader(csv_file)
    print(type(csv_reader))
    for row in csv_reader:
        print(row)

<class '_csv.reader'>
['Name', 'Age', 'Occupation']
['John Doe', '30', 'Engineer']
['Jane Smith', '25', 'Teacher']
['Bob Johnson', '40', 'Doctor']
['Alice Brown', '35', 'Artist']

In [39]:
import csv

with open("test.csv", "r",newline="") as csv_file:
    csv_reader = csv.DictReader(csv_file)
    print(type(csv_reader))
    for row in csv_reader:
        print(row)

<class 'csv.DictReader'>
{'Name': 'John Doe', 'Age': '30', 'Occupation': 'Engineer'}
{'Name': 'Jane Smith', 'Age': '25', 'Occupation': 'Teacher'}
{'Name': 'Bob Johnson', 'Age': '40', 'Occupation': 'Doctor'}
{'Name': 'Alice Brown', 'Age': '35', 'Occupation': 'Artist'}

In [44]:
import csv

data = [
    {"name": "kavindu", "age": 22, "city": "galle"},
    {"name": "tharaka", "age": 18, "city": "matara"},
    {"name": "gamagae", "age": 28, "city": "colombo"},
]

with open("test.csv", "w",newline="") as csv_file:
    fieldnames = ["name", "age", "city"]
    csv_writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    
    csv_writer.writeheader()
    csv_writer.writerows(data)